#temporary cmake files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
Doxyfile
deal.tag
TAGS

#executable file, parameters, and output directory.
ifem
immersed_fem.prm
out

#all output files
*.vtu
*.vtk
*.gpl
